$description-color: rgba(0, 0, 0, 0.87);
$card-border: 1px solid white;
$header-component: 1px solid #e0e0e0;
$links-background: #f6f6f6;
$separator-color: rgba(0, 0, 0, 0.12);
$text-style: black;
$input-border: 1px solid rgba(38, 30, 30, 0.42);
$input-color: #000;
$input-contact-hover: 2px solid #261e1e;
